<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Message_Encryption.Properties.Settings.Message_EncryptionConnectionString"
            connectionString="Data Source=|DataDirectory|\Message_Encryption.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>